.dark-theme {
    @apply bg-primary
}

.dark-theme .header {
    box-shadow: -12px 17px 11px rgba(45, 66, 96, 0.6);
    background: rgba(45, 66, 96, 0.6);
    /* @apply bg-primary/30 backdrop-blur-sm */
}

html:has(.dark-theme)::-webkit-scrollbar {
    width: 5px;
}

html:has(.dark-theme)::-webkit-scrollbar-track {
    @apply bg-primary
}

html:has(.dark-theme)::-webkit-scrollbar-thumb {
    @apply bg-white rounded-md
}


.dark-theme .nav-item {
    @apply text-white
}

.dark-theme .line-left {
    @apply w-1/2 -mr-[0.85rem] border-b-2 border-[fffffa]
}

.dark-theme .line-right {
    @apply w-1/2 -ml-[0.85rem] border-b-2 border-[fffffa]
}

.dark-theme .company_name {
    @apply text-white
}

.dark-theme .title {
    @apply text-white
}

.dark-theme .sub_title {
    @apply text-white
}

.dark-theme #logo .cls-1 {
    stroke: #fffffa;
}

.dark-theme .media_icon {
    @apply text-white
}

.dark-theme label {
    @apply text-white
}

.dark-theme .input:not(:placeholder-shown)~.input-text {
    @apply text-white
}


.dark-theme .input:not(:placeholder-shown).demo~.input-text {
    @apply text-primary
}


.dark-theme .input {
    @apply w-full px-3 py-1 text-base text-primary border-white border-2 rounded-lg border-opacity-50 outline-none focus:border-active placeholder-gray-600 placeholder-opacity-0 placeholder:text-sm transition duration-200
}


.list_title {
    @apply text-white
}

.list li {
    @apply text-white
}