.light-theme {
    @apply bg-white
}

html:has(.light-theme)::-webkit-scrollbar {
    width: 5px;
}

html:has(.light-theme)::-webkit-scrollbar-track {
    @apply bg-white
}

html:has(.light-theme)::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-md
}


.light-theme .nav-item {
    @apply text-primary
}

.light-theme .line-left {
    @apply w-1/2 -mr-[1.1rem] border-b-2 border-primary
}

.light-theme .line-right {
    @apply w-1/2 -ml-[1.1rem] border-b-2 border-primary
}

.light-theme .company_name {
    @apply text-primary
}

.light-theme .title {
    @apply text-primary
}

.light-theme .sub_title {
    @apply text-primary
}

#logo .cls-1 {
    stroke: #2d4260;
}

.light-theme .media_icon {
    @apply text-primary
}

.light-theme label {
    @apply text-primary
}

.light-theme .input:not(:placeholder-shown)~.input-text {
    @apply text-primary
}


.light-theme .input:not(:placeholder-shown).demo~.input-text {
    @apply text-primary
}


.light-theme .input {
    @apply w-full px-3 py-1 text-base text-primary border-primary border-2 rounded-lg outline-none focus:border-active placeholder-gray-600 placeholder-opacity-0 placeholder:text-sm transition duration-200
}


.list_title {
    @apply text-primary
}

.list li {
    @apply text-primary
}