@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/fonts/Gilroy/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./assets/fonts/Gilroy/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-Black";
  src: url("./assets/fonts/Gilroy/Gilroy-Black.ttf");
}

@font-face {
  font-family: "Gilroy-MediumItalic";
  src: url("./assets/fonts/Gilroy/Gilroy-MediumItalic.ttf");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./assets/fonts/Gilroy/Gilroy-SemiBold.ttf");
}


.nav-item {
  @apply inline-block rounded py-1 px-3 text-base uppercase font-Gilroy-SemiBold tracking-wider
}

.content {
  /* min-height: calc(100vh - 180px); */
  @apply h-full min-h-screen mx-auto w-[90%] xl:w-3/4 flex
}

.nav-item.active {
  @apply bg-active !text-primary w-full
}

.header {
  @apply bg-transparent pt-5 fixed top-0 w-full z-10
}

.logo-container {
  @apply flex items-center w-full bg-transparent h-16 lg:-mt-4
}

.media_icon {
  @apply m-auto text-xl cursor-pointer
}

.media_container {
  @apply space-y-6 fixed lg:hidden flex flex-col bg-active w-fit py-3 pl-3 pr-2 rounded-l-xl top-1/2 -translate-y-1/2 right-0
}

.media_container .media_icon {
  @apply m-auto text-xl !text-primary
}

.title {
  @apply text-4xl sm:text-5xl font-Gilroy-Black leading-none
}

.sub_title {
  @apply text-xl sm:text-xl mt-5 font-Gilroy-MediumItalic
}

.list {
  list-style: disc;
}

.list_title {
  @apply text-xl font-Gilroy-Black my-5 lg:my-0
}

.list li {
  @apply text-lg font-Gilroy-MediumItalic ms-5
}

.company_name {
  @apply text-xl font-Gilroy-Regular tracking-[0.2em] text-center w-3/4 sm:w-auto
}

label {
  @apply text-base md:text-xl font-Gilroy-MediumItalic text-primary
}

.btn {
  @apply px-3 py-1 text-base font-Gilroy-MediumItalic text-primary bg-active w-fit rounded-lg mx-auto
}


#logo {
  width: 4rem;
}

.cls-1 {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.input-text {
  @apply text-base text-gray-400 text-opacity-80 absolute left-2 top-6 -translate-y-5 px-1 transition duration-200
}

.input:focus {
  @apply outline-none transition-opacity duration-500 placeholder-opacity-70
}

.input:focus~.input-text,
.input:not(:placeholder-shown)~.input-text {
  @apply text-active transform -translate-y-12 -translate-x-2 scale-100 text-base;
}

.field {
  @apply w-full
}

.field label {
  @apply block relative w-full font-Gilroy-Regular
}

.field label span {
  @apply font-Gilroy-MediumItalic
}

.error {
  @apply text-red-500 text-xs italic
}

.react-datepicker-wrapper {
  @apply w-full
}