@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/fonts/Gilroy/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./assets/fonts/Gilroy/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-Black";
  src: url("./assets/fonts/Gilroy/Gilroy-Black.ttf");
}

@font-face {
  font-family: "Gilroy-MediumItalic";
  src: url("./assets/fonts/Gilroy/Gilroy-MediumItalic.ttf");
}


.nav-item {
  @apply inline-block rounded py-1 px-3 text-xl uppercase font-Gilroy-Bold
}

.content {
  min-height: calc(100vh - 180px);
  max-height: 100%;
}

.nav-item.active {
  @apply bg-active !text-primary w-full
}

.header {
  @apply bg-transparent pt-5
}

.logo-container {
  @apply flex items-center w-full bg-transparent h-16 lg:-mt-4
}

.media_icon {
  @apply m-auto text-xl cursor-pointer
}

.media_container {
  @apply space-y-6 lg:hidden flex flex-col bg-active w-fit py-3 pl-3 pr-2 rounded-l-xl absolute top-1/2 -translate-y-1/2 right-0
}

.media_container .media_icon {
  @apply m-auto text-xl !text-primary
}

.title {
  @apply text-4xl sm:text-5xl font-Gilroy-Black leading-none
}

.sub_title {
  @apply text-2xl sm:text-3xl mt-10 font-Gilroy-MediumItalic
}

.company_name {
  @apply mt-5 text-2xl font-Gilroy-Regular tracking-widest
}

label {
  @apply text-xl font-Gilroy-MediumItalic text-primary
}

.btn {
  @apply px-3 py-1 text-xl font-Gilroy-MediumItalic text-primary bg-active w-fit rounded-lg mx-auto
}

input[type='text'] {
  @apply rounded-3xl font-Gilroy-Regular border-primary border-2 py-1
}

#logo {
  width: 5rem;
}

.cls-1 {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.form input[type="text"]:focus~.input-text,
input[type="text"]:not(:placeholder-shown)~.input-text {
  @apply text-active transform -translate-y-11 -translate-x-2 scale-100 text-base;
}

.form input[type="text"]:not(:placeholder-shown)~.input-text {
  @apply text-white
}

.form input[type="text"]:focus {
  @apply outline-none transition-opacity duration-500 placeholder-opacity-70
}

.form input[type="text"] {
  @apply w-full px-3 py-1 text-base text-primary border-white border-2 rounded-lg border-opacity-50 outline-none focus:border-active placeholder-gray-600 placeholder-opacity-0 placeholder:text-sm transition duration-200
}

.field {
  @apply w-full
}

.field label {
  @apply block relative w-full font-Gilroy-Regular
}

.field label span {
  @apply font-Gilroy-MediumItalic
}

.error {
  @apply text-red-500 text-xs italic
}